<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">

        <!-- SplashScreenActivity как первая активность -->
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity без intent-filter для MAIN и LAUNCHER -->
        <activity android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:exported="true" />

        <!-- Другие Activity -->
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name=".Pausemenu"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".lvl5"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lvl4"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lvl3"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lvl2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lvl1"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".areusure"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Options"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LevelMenu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WarningFragment"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".CodeInputFragment"
            android:exported="true"
            android:screenOrientation="landscape"/>
    </application>

</manifest>